<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css" />
        <title>LOCAL TRADING</title>
    </head>

    <body>
        <div class="grid-container">
            <header class="header">
                <div class="brand">
                    <a href="index.html">LOCAL TRADING</a>
                </div>
                <div class="header-links">
                    <a href="cart.html">Cart</a>
                    <a href="signin.html">Sign In</a>

                </div>
            </header>
            <aside>
                Shopping Categories
            </aside>
            <main class="main">
                <div class="content">
                    <ul class="products">
                        <li> 
                            <div class="product">
                                <img src="/images/d1.jpg" alt="product"/>
                                <div class="product-name"></div>
                                <div class="product-brand"></div>
                                <div class="price">$</div>

                            </div>
                        </li> 
                    </ul>
                </div>
                
            </main>
            <footer class="footer">
                All right reserved. 
            </footer>
        </div>
    </body>
</html>